<form [formGroup]="form" class="add-user-form" (submit)="onSubmit()">
  <div class="add-user-form__inputs">
    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input matInput formControlName="firstname" />
      <mat-error
        *ngIf="
          form.controls.firstname.touched && form.controls.firstname.errors
        "
        >Обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="lastname" />
      <mat-error
        *ngIf="form.controls.lastname.touched && form.controls.lastname.errors"
        >Обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error
        *ngIf="form.controls.email.touched && form.controls.email.errors"
        >Неверный формат
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Возраст</mat-label>
      <input matInput formControlName="age" />
      <mat-error *ngIf="form.controls.age.touched && form.controls.age.errors">
        18 &lt; Возраст &lt; 99
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Пол</mat-label>
      <mat-select formControlName="gender">
        <mat-option *ngFor="let g of genders" [value]="g">
          {{ g }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="add-user-form__footer">
    <button
      class="add-user-form__submit"
      mat-button
      color="primary"
      type="button"
      (click)="onReset()"
    >
      Сбросить
    </button>
    <button
      class="add-user-form__submit"
      [disabled]="isLoading"
      mat-flat-button
      color="primary"
      type="submit"
    >
      Добавить
    </button>
  </div>
</form>
