th {
  padding: 0 16px;
}

td {
  padding: 4px 16px;
  width: 16%;
  width: 150px;
}

mat-form-field {
  width: 150px;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.not-found {
  text-align: center;
}
