<ng-container *ngIf="(users$ | async)?.length ; else empty">
  <table mat-table [dataSource]="users$">
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>Имя</th>
      <td mat-cell *matCellDef="let element">{{ element.firstname | emptyText }}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Фамилия</th>
      <td mat-cell *matCellDef="let element">{{ element.lastname | emptyText }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email | emptyText }}</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Возраст</th>
      <td mat-cell *matCellDef="let element">{{ element.age | emptyText }}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Пол</th>
      <td mat-cell *matCellDef="let element">{{ element.gender | emptyText }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button color="warn" (click)="onDelete(element._id)">
          Удалить
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>

<ng-template #empty>
  <h3 class="not-found">Пользователи не найдены</h3>
</ng-template>
